
/* Header styling */
.header {
    padding: 20px;
    background-color: #1cddff;
    text-align: center;
  }
  
  /*  */
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .leftcolumn {
    width: 75%;
    padding: 20px;
  }
  
  .rightcolumn {
    width: 25%;
    padding: 20px;
  }
  
  /* Card styling for blog posts */
  .card {
    background-color: #09aefa;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Footer styling */
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #77f707;
  }
  *h1 {border: black;}