body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 255, 217, 0.825);
    color: #333;
  }
  
  /* Dark mode styles  */
  body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
  }
  
  /* Toggle button styling */
  .toggle-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Back button styling */
  .back-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }